body {
  padding: 50px;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-size:14px;
}
a {
  color: yellow;
}
#navbar-main {
	width:100%;
	padding:0;
	margin:0 auto;
	display: inline-block;
}
.main-nav {
	padding:35px 0px;
}
.main-nav li {
	padding:0px 20px;
}
.main-nav li a {
    text-decoration: none;
    color:black;
}
#home-gallery-images li {
	list-style: none;
	margin:20px 0;
}
.item-card {
	padding:20px 0px;
	margin:30px;
}
.item-card img {
	padding:10px;
}
.grid {
	column-count: 1;
    column-gap: 0;
    counter-reset: item-counter;

  @media screen and (min-width: 400px) {
    column-count: 2;
  }
  
  @media screen and (min-width: 600px) {
    column-count: 3;
  }
  
  @media screen and (min-width: 800px) {
    column-count: 4;
  }
  
  @media screen and (min-width: 1100px) {
    column-count: 5;
  }
}
.item {
    display: inline-block;
    background: #fff;
    padding: 1em;
    margin: 0 0 1.5em;
    width: 100%;
    box-sizing: border-box;
}
li.small {
	height:200px;
	width:200px;
}
li.medium {
	height:300px;
	width:300px;	
}
li.medium {
	height:400px;
	width:400px;	
}
li.large {
	height:500px;
	width:500px;
}

#footer {
	width:100%;
	padding:20px 20px;
	margin:0 auto;
	display: block;
	position: relative;
	float:left;
}