extends layout
include _includes/outputimages
block content
 .main-listing
  .row
   .col-lg-16
    h1= pageHeader.title

 .second-listing
  .row
   .col-xs-12.col-sm-8
    each location in locations
     ul#home-gallery-images
      +image(location.name, location.distance, location.address, location.image)
      