extends layout
include _includes/outputimages
block content
 .main-listing
  .row
   .col-lg-16
    

 .second-listing
  .row
   .grid.col-xs-12.col-sm-12.col-lg.16
    ul#home-gallery-images.col-lg-16
     each location in locations
      +image(location.name, location.distance, location.rating, location.address, location.image, location.size)
      